<CascadingAuthenticationState >
    <Router AppAssembly="@typeof(Program).Assembly" OnNavigateAsync="Test" >
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)"/>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(Layout.MainLayout)">
                <h1>Sorry, there's nothing at this address.</h1>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code{

    [Inject] public IJSRuntime JsRuntime { get; set; }

    private async Task Test()
    {
        // await JsRuntime.InvokeVoidAsync("test");
        Console.WriteLine("navigation");
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        Console.WriteLine("test");
        return base.OnAfterRenderAsync(firstRender);
    }

}